.login-container {
  display: flex;
  align-items: center;
  height: 100vh;
  background-color: #f7f9fc;
}

.form-container {
  width: 400px;
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.logo {
  display: block;
  margin: 0 auto 20px;
  width: 100px;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
}

input.form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid lightgray;
}

.forgot-password {
  text-align: right;
  display: block;
  margin-top: 10px;
  font-size: 14px;
}

.sign-in-btn {
  background-color: #4285f4;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

.sign-in-btn:hover {
  background-color: #357ae8;
}
